<div class="topbar">

  <div class="breadcrumb" id="breadcrumbText">
    Loading...
  </div>

  <div class="topbar-right">

    <!-- <select onchange="setLanguage(this.value)">
      <option value="vi" data-i18n="langVi">🇻🇳 Tiếng Việt</option>
      <option value="en" data-i18n="langEn">🇺🇸 English</option>
    </select> -->

    <span class="breadcrumb" id="adminName">
      Loading...
    </span>

    <button class="back-btn" onclick="goDashboard()">
      ← Quay lại
    </button>

  </div>

</div>